.git
.gitignore
**/.env
**/.venv
**/node_modules
**/__pycache__
**/*.pyc
**/*.db
frontend/dist
backend/static
miniprogram
typings
*.md
!backend/README.md
JIAOWU.md
project.config.json
package.json
package-lock.json
tsconfig.json
